
filetype off
" set the runtime path to include Vundle and initialize
set rtp+=$HOME/.vimfiles/bundle/Vundle.vim/
call vundle#begin('$HOME/.vimfiles/bundle/')

" let Vundle manage Vundle, required
Plugin 'VundleVim/Vundle.vim'
Plugin 'tpope/vim-fugitive'
Plugin 'jiangmiao/auto-pairs'
Plugin 'scrooloose/nerdtree'
Plugin 'vim-airline/vim-airline'
Plugin 'dracula/vim'
Plugin 'junegunn/fzf', { 'dir': '~/.fzf', 'do': './install --all' } 
Plugin 'junegunn/fzf.vim'
Plugin 'preservim/nerdcommenter'

"Plugin 'neoclide/coc.nvim', {'branch': 'release'}
" All of your Plugins must be added before the following line
call vundle#end()
if (has("termguicolors"))
	set termguicolors
endif
syntax enable
colorscheme dracula 

filetype plugin indent on 

"Simple setting 
set tabstop=4
set shiftwidth=4
set smartindent
set enc=utf-8
set fenc=utf-8
set termencoding=utf-8
set number 
if has('gui_running')
  set guifont=monaco:h9
endif

"Setting for auto pair
let g:AutoPairs = {"{": "}"}
let g:AutoPairsShortcutJump=''
let g:AutoPairsMoveCharacter=''
let g:AutoPairsShortcutBackInsert=''
let g:AutoPairsShortcutToggle =''
let g:AutoPairsShortcutFastWrap=''
let g:AutoPairsWildClosedPair=''
let g:AutoPairsMapBS=1
let g:AutoPairsMapCh=0
let g:AutoPairsCenterLine=0
let g:AutoPairsMapSpace=0
let g:AutoPairsMultilineClose=0
let g:AutoPairsFlyMode = 1
"let g:AutoPairsShortcutBackInsert=''

map <F8> :!g++  -std=c++11 -g  % -o a && ./a.exe <CR>
map <F4> :w <bar> !g++  -std=c++11 -g % -o a <CR>
autocmd BufNewFile *.cpp :0r /c/Users/namnh/Documents/Coding/CCode/main.cpp
autocmd BufNewFile *.cpp :w!
"Copy to clipboard for neovim
function! ClipboardYank()
  call system('xclip -i -selection clipboard', @@)
endfunction
function! ClipboardPaste()
  let @@ = system('xclip -o -selection clipboard')
endfunction
nnoremap <C-J> <C-W><C-J>
nnoremap <C-K> <C-W><C-K>
nnoremap <C-L> <C-W><C-L>
nnoremap <C-H> <C-W><C-H>
vnoremap <silent> y y:call ClipboardYank()<cr>
vnoremap <silent> d d:call ClipboardYank()<cr>
nnoremap <silent> p :call ClipboardPaste()<cr>p
let g:NERDTreeShowHidden = 1
let g:NERDTreeMinimalUI = 1
let g:NERDTreeIgnore = []
let g:NERDTreeStatusline = ''
" Automaticaly close nvim if NERDTree is only thing left open
autocmd bufenter * if (winnr("$") == 1 && exists("b:NERDTree") && b:NERDTree.isTabTree()) | q | endif

" Toggle
nnoremap <silent> <C-n> :NERDTreeToggle<CR>  
" open new split panes to right and below
set splitright
set splitbelow
" turn terminal to normal mode with escape
tnoremap <Esc> <C-\><C-t>
" start terminal in insert mode 
"au BufEnter * if &buftype == 'terminal' | :startinsert | endif 
" open terminal on ctrl+n
"function! OpenTerminal()
"	split term://bash
"	resize 10
"endfunction
"nnoremap <c-t> :call OpenTerminal()<CR> 
" use alt+hjkl to move between split/vsplit panels
tnoremap <A-h> <C-\><C-n><C-w>h
tnoremap <A-j> <C-\><C-n><C-w>j
tnoremap <A-k> <C-\><C-n><C-w>k
tnoremap <A-l> <C-\><C-n><C-w>l
nnoremap <A-h> <C-w>h
nnoremap <A-j> <C-w>j
nnoremap <A-k> <C-w>k
nnoremap <A-l> <C-w>l
nnoremap <C-p> :FZF<CR>
let g:fzf_action = {
  \ 'ctrl-t': 'tab split',
  \ 'ctrl-s': 'split',
  \ 'ctrl-v': 'vsplit'
  \}

nnoremap x "_x
nnoremap d "_d
nnoremap D "_D
vnoremap d "_d
